body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-style: italic;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.2em;
  line-height: 1;
  padding-bottom: 5px;
}

.author {
  font-weight: bold;
  padding-bottom: 20px;
}


p  {
  padding-bottom: 15px;
  line-height: 120%;
}
